#site-header {
    margin-top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.container {
    max-width: 1200px;
}

body {
    -webkit-background: #1E1E1E !important;
    background: url('../img/bg.svg') fixed #1E1E1E;
    background-size: cover;
    background-position: top left;
}

#site-footer {
    padding: 2.4em 0;
    background: #1E1E1E;
}

#site-footer p {
    color: #fff;
    text-align: center;
    font-size: 85%;
}

#header-helper{
    padding-top: 5em;
}

.hero {
    min-height: 40vh;
    color: #fff;
}

.hero .hero-text {
    padding-top: 25em;
    padding-bottom: 2em;
}

.hero-min {
    min-height: 40vh;
    color: #fff;
}

.hero-min .hero-text {
    padding-top: 12em;
    padding-bottom: 2em;
}

.section-spacer {
    padding: 2em 0;
    background: #fff;
}

.decorative-spacer {
    min-height: 10em;
    background: #FDBE55;
}

.square {
    width: 100%;
    display: block;
    padding: 1.4em;
    text-align: center;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.16);
    margin: 0.5em 0;
}

.vis,
.vis-alt {
    padding: 2em;
    margin-top: 8px !important;
}
.vis {
    background: #DDD;
}
.vis-alt {
    background: #BBB;
}

nav #toggle-nav2 {
    font-weight: bold;
    text-transform: uppercase;
}
nav #menu2 {
    margin-top: 10px;
    display: none;
}

@media all and (min-width: 900px){

}

/** {
    border: 1px solid red;
}*/