/*  
GUMDROP FRAMEWORK VERSION 4.0 - 2016
CREATED BY ANGEL RAMIREZ

THIS FRAMEWORK IS FREE TO USE WITHOUT PRIOR PERMISSION (REFER TO LICENSE FOUND ON GITHUB FOR ADDITIONAL INFORMATION).
REFER TO SOURCE CODE FOUND ON THE GUMDROP SITE DOCUMENTATION TO FIGURE OUT HOW TO IMPLEMENT GUMDROP ON
YOUR BAREBONES HTML FILES.

WEBSITES UPGRADING FROM GUMDROP VERSION 2 WILL REQUIRE SOME MODIFICATION AS GUMDROP 3 IS USING A NEW RESET STYLESHEET, IF YOU
WISH TO AVOID THIS HASSLE, DOWNLOAD THE GUMDROP SCSS FILES AND USE YOUR OWN RESET (OR THE PREVIOUS ONE "NORMALIZE").

PLEASE NOTE THAT GUMDROP IS BUILT TO BE MOBILE FIRST, MAKE SURE TO TARGET SMALL DEVICES IN THE PARTIAL FILES (DENOTED WITH _ )
AND ALL OTHER MEDIA QUERIES GO INTO "_RESPONSIVE" (THESE ARE FOR TABLETS, LAPTOPS, AND DESKTOPS).
*/
@import "https://opensource.keycdn.com/fontawesome/4.5.0/font-awesome.min.css";
@font-face {
  font-family: 'Aleo';
  src: url("../fonts/aleo/Aleo-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aleo';
  src: url("../fonts/aleo/Aleo-Italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Aleo';
  src: url("../fonts/aleo/Aleo-Light-webfont.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Aleo';
  src: url("../fonts/aleo/Aleo-LightItalic-webfont.woff") format("woff");
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: 'Aleo';
  src: url("../fonts/aleo/Aleo-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Aleo';
  src: url("../fonts/aleo/Aleo-BoldItalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
*, *:before, *:after {
  /* Sets all elements to use "border-box" box model */
  box-sizing: border-box;
}

html {
  /* Display text at 100% "default" size */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  /* Removes unecessary margin on body and sets basic typography styles/sizes */
  margin: 0;
  font: 16px/1 Segoe UI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #1E1E1E;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
  /* Removes unecessary margin and padding on these elements */
  margin: 0;
  padding: 0;
}

main,
li {
  /* Make these elements display as block level tags */
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Reset the heading font sizes to the body default */
  font-size: inherit;
}

strong,
.strong {
  /* Sets proper font weight when using strong */
  font-weight: bold;
}

a {
  /* Removes underline on anchors */
  text-decoration: none;
}

a,
button {
  /* Resets the color of anchors and buttons to body/browser default */
  color: inherit;
}

button {
  /* Resets buttons to display as anchors, useful when stylizing them */
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

::-moz-focus-inner {
  /* Removes foucus outline found on inputs in Mozilla Firefox */
  padding: 0;
  border: 0;
}

:focus {
  /* Removes outline found on input tags */
  outline: 0;
}

img {
  /* Allow images to be responsive, but only scale up to 100% of their aspect ratio */
  max-width: 100%;
  height: auto;
  border: 0;
}

.disabled {
  /* This allows you to disabled certain tags or elements, such as inputs or buttons */
  pointer-events: none;
  opacity: 0.80;
  filter: grayscale(3);
}

.container {
  /* Centers and adds left/right padding to container class */
  margin: 0 auto !important;
  padding: 0 1em;
}

ol,
ul {
  padding: 0.5em 0 0.5em 1.2em;
}

ol {
  list-style: georgian, inside;
}

ul {
  list-style: square, inside;
}

li {
  padding: 0.2em 0;
  display: list-item;
}

/* This contains typography and padding for various html tags */
/* Colors */
.default {
  background: #F9F9F9;
}

.primary {
  background: #FDBE55;
}

.secondary {
  background: #DC504A;
}

.info {
  background: #4092AD;
}

.success {
  background: #50B55C;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Aleo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0.125em 0;
}

h1 {
  font-size: 2.2em;
  line-height: 1.2em;
}

h2 {
  font-size: 2em;
  line-height: 1.125em;
}

h3 {
  font-size: 1.8em;
  line-height: 1.125em;
}

h4 {
  font-size: 1.6em;
  line-height: 1.125em;
}

h5 {
  font-size: 1.4em;
  line-height: 1.125em;
}

h6 {
  font-size: 1.2em;
  line-height: 1.125em;
}

/* Body Copy */
p {
  line-height: 1.456em;
  text-align: justify;
}

/* Anchors */
a {
  color: #FDBE55;
}

a:hover {
  color: #fdaf2d;
}

a:focus {
  text-decoration: underline;
}

/* This contains styles, typography, and padding for GumDrop buttons */
input[type=submit],
input[type=reset],
button,
.btn {
  padding: 1.8rem 1.2rem;
  text-align: center;
  color: #1E1E1E;
  display: inline-block;
  margin: 0.2em 0;
  line-height: 0;
  font-family: "Aleo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.965em;
  font-weight: 500;
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.12);
  transition: color 0.3s, background 0.3s;
  border-radius: 0;
}

input[type=submit]:focus,
input[type=reset]:focus,
button:focus,
.btn:focus {
  outline: 2px #1E1E1E dashed;
  text-decoration: none;
}

.btn-default {
  background: #F9F9F9;
}

.btn-default:hover {
  color: #e5e5e5;
  background: #1E1E1E;
}

.btn-primary {
  background: #FDBE55;
}

.btn-primary:hover {
  color: #EDEDED;
  background: #1E1E1E;
}

.btn-secondary {
  background: #DC504A;
}

.btn-secondary:hover {
  color: #EDEDED;
  background: #d83b35;
}

.btn-info {
  background: #4092AD;
}

.btn-info:hover {
  color: #EDEDED;
  background: #35798f;
}

.btn-success {
  background: #50B55C;
}

.btn-success:hover {
  color: #EDEDED;
  background: #419b4c;
}

.btn-block {
  width: 100%;
}

.btn-fblock {
  width: 100%;
}

.btn-group {
  margin-top: 0.5em;
}

/* Shared Styles */
.action-pill,
.action-bub {
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.12);
  color: #1E1E1E;
  line-height: 0;
  transition: color 0.3s, background 0.3s;
  display: inline-block;
}

.action-pill:focus,
.action-bub:focus {
  border: 2px #1E1E1E dashed;
  text-decoration: none;
}

/* action pills */
.action-pill {
  padding: 1.2em 2em;
  text-align: center;
  margin: 0.2em 0;
  border-radius: 1.6em;
  font-family: "Aleo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/* action buttons */
.action-bub {
  border-radius: 10px;
  padding: 1em 1.1em;
}

.action-bub:hover {
  color: #EDEDED !important;
}

/* This is the grid for GumDrop */
/* Mobile first grid */
.row {
  display: block;
  flex-flow: row wrap;
  width: 100%;
}

.grid-12,
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-6,
.grid-8 {
  width: 100%;
  margin: 0 auto !important;
}

/* This contains "default" navbar styles (now uses .nav class) */
.nav {
  padding: 1em;
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.12);
  z-index: 1000;
}

.nav a {
  color: #373a3c;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  line-height: 1.5;
  padding: 20px;
  text-align: center;
  display: block;
  font-weight: 600;
}

.nav a:hover {
  background-color: #fdaf2d;
  color: #EDEDED;
}

.nav #toggle-nav {
  font-family: "Aleo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding: 1px;
  font-size: 1em;
  margin: 5px !important;
  text-align: left;
  cursor: pointer;
}

.nav #toggle-nav:hover {
  background-color: transparent;
  color: #fdaf2d;
}

.nav #menu {
  margin-top: 10px;
  display: none;
}

/* This contains styles, typography, and padding for GumDrop cards */
.card {
  /* Base Card */
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.12);
  margin: 5px 0;
}

.card header {
  background: #1E1E1E;
  color: #F9F9F9;
  padding: 1.5em;
}

.card .content {
  /* Sets padding for inside card */
  padding: 10px 15px;
  box-sizing: border-box;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  /* Basic style, end user can change it */
  line-height: 1.4;
  font-size: 1.125rem;
  padding: 0.8em 0;
  text-align: center;
}

.card p {
  padding: 0 0 0.8em 0;
}

/* This contains styles, typography, and padding for GumDrop forms and inputs */
.form-group,
.form-group-radio,
.form-group-checkbox {
  margin: 8px 0 10px 0;
}

.form-group-radio label,
.form-group-checkbox label {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-control {
  min-width: 100%;
}

input,
textarea,
select {
  background-color: #F9F9F9;
  margin-top: 0.45em;
  display: block;
}

input[type='checkbox'],
input[type='radio'] {
  box-shadow: none;
  background-color: transparent;
  display: inline;
}

input[type='checkbox']:focus,
input[type='radio']:focus {
  outline: 2px solid Highlight !important;
}

input[type='submit'],
input[type='reset'] {
  display: inline-block;
  font-family: "Aleo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  border: none;
  cursor: pointer;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
textarea,
select {
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.12);
  border: none;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #373a3c;
  padding: 0.9em 0.85em;
}

select {
  padding: 0.83em 0.85em !important;
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.12);
}

input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
  background-color: #FFFFFF;
  transition: 0.3s;
  -webkit-outline: 2px solid #4092AD;
  -moz-outline: 2px solid #4092AD;
  -ms-outline: 2px solid Highlight;
  -o-outline: 2px solid #4092AD;
  outline: 2px solid Highlight;
}

textarea {
  overflow-y: scroll;
  word-wrap: normal;
  min-height: 5em;
}

label,
fieldset {
  font-family: "Aleo", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

fieldset {
  margin-top: 0.4em;
}

/* This contains all responsive code for all GumDrop components */
/* THE MEDEA QUERIES BELOW ARE FOR TABLETS, LAPTOPS, AND DESKTOPS */
/*Medium screens */
@media all and (min-width: 768px) {
  .row {
    display: flex;
    box-sizing: border-box;
  }

  /* Gutters */
  [class*='grid-'] {
    padding-right: 0.4em !important;
    box-sizing: border-box;
  }

  [class*='grid-']:last-of-type {
    padding-right: 0;
  }

  /* Grid */
  .grid-1 {
    width: 8%;
  }

  .grid-2 {
    width: 16.6%;
  }

  .grid-3 {
    width: 25%;
  }

  .grid-4 {
    width: 33.3%;
  }

  .grid-6 {
    width: 50%;
  }

  .grid-8 {
    width: 66.7%;
  }

  .btn-block {
    width: auto;
    text-align: center;
  }

  p {
    text-align: left;
  }

  .nav a {
    margin: 0;
    padding: 5px 8px 0 5px;
    text-align: left;
    display: inline;
  }

  .nav a:hover {
    background-color: transparent;
    color: #fdaf2d;
  }

  .nav #toggle-nav {
    text-transform: uppercase;
    padding: 1px;
  }

  .nav #toggle-nav:hover {
    background-color: transparent;
    color: #fdaf2d;
  }
}
/* Toggle Menu Fix */
@media all and (min-width: 899px) {
  .nav #menu {
    display: inline !important;
    visibility: visible !important;
  }
}
@media all and (min-width: 901px) {
  .nav #menu {
    display: inline !important;
    visibility: visible !important;
  }
}
/* Desktop and beyond */
@media all and (min-width: 900px) {
  /* NAV BASE */
  .nav {
    padding: 1em;
    z-index: 1;
  }

  .nav a {
    display: inline;
    font-size: 1rem;
  }

  .nav #toggle-nav {
    display: none !important;
    visibility: hidden !important;
  }

  .nav #menu {
    display: inline;
    visibility: visible !important;
  }

  input[type=submit],
  input[type=reset],
  button,
  .btn {
    padding: 1.4rem 1.2rem;
  }
}

/*# sourceMappingURL=gumdrop-base.css.map */
